<div class="container page-content">

    <form accept-charset="UTF-8" autocomplete="off" class="setup-form js-form-signup-detail">
        <h2 class="setup-form-title">
            Login
        </h2>

        <dl class="form">
            <dt class="input-label">
                <label autocapitalize="off" autofocus="autofocus" for="user_login" name="user[login]">Username</label>
            </dt>
            <dd>
                <input autocapitalize="off" autofocus="autofocus" id="user_login" name="user[login]" size="30"
                       type="text">

                <p class="note">This will be your username.</p>
            </dd>
        </dl>

        <dl class="form">
            <dt class="input-label">
                <label for="user_password" name="user[password]">Password</label>
            </dt>
            <dd>
                <input id="user_password" name="user[password]" size="30" type="password">

                <p class="note">Use at least one lowercase letter, one numeral, and seven characters.</p>
            </dd>
        </dl>


        <input type="hidden" name="source_label" value="Detail Form">


        <p class="tos-info">By clicking on "Create an account" below, you are agreeing to the
            <a href="https://help.github.com/terms" target="_blank">Terms of Service</a> and the
            <a href="https://help.github.com/privacy" target="_blank">Privacy Policy</a>.</p>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" id="signup_button" data-disable-with="Creating account…">
                Create an account
            </button>
        </div>

    </form>

</div>