
<div class="pagehead sitehead repohead instapaper_ignore readability-menu experiment-repo-nav">
    <div class="container repohead-details-container">

        <h1 class="entry-title public ">
            <span class="octicon octicon-globe"></span>

            <a href="/">
                v-androide.com
            </a>
        </h1>

    </div>
    <div class="container">

        <nav class="reponav js-repo-nav js-sidenav-container-pjax js-octicon-loaders" role="navigation" data-pjax="#js-repo-pjax-container" data-issue-count-url="/angular-ui/ui-router/issues/counts">

            <a href="/angular-ui/ui-router" aria-label="Code" aria-selected="true" class="js-selected-navigation-item selected reponav-item" data-hotkey="g c" data-selected-links="repo_source repo_downloads repo_commits repo_releases repo_tags repo_branches /angular-ui/ui-router">
                <span class="octicon octicon-code"></span>
                Code
            </a>
            <a href="/angular-ui/ui-router/issues" class="js-selected-navigation-item reponav-item" data-hotkey="g i" data-selected-links="repo_issues repo_labels repo_milestones /angular-ui/ui-router/issues">
                <span class="octicon octicon-issue-opened"></span>
                Issues
                <span class="counter">212</span>

            </a>
            <a href="/angular-ui/ui-router/pulls" class="js-selected-navigation-item reponav-item" data-hotkey="g p" data-selected-links="repo_pulls /angular-ui/ui-router/pulls">
                <span class="octicon octicon-git-pull-request"></span>
                Pull requests
                <span class="counter">47</span>

            </a>
            <a href="/angular-ui/ui-router/wiki" class="js-selected-navigation-item reponav-item" data-hotkey="g w" data-selected-links="repo_wiki /angular-ui/ui-router/wiki">
                <span class="octicon octicon-book"></span>
                Wiki
            </a>
            <a href="/angular-ui/ui-router/pulse" class="js-selected-navigation-item reponav-item" data-selected-links="pulse /angular-ui/ui-router/pulse">
                <span class="octicon octicon-pulse"></span>
                Pulse
            </a>
            <a href="/angular-ui/ui-router/graphs" class="js-selected-navigation-item reponav-item" data-selected-links="repo_graphs repo_contributors /angular-ui/ui-router/graphs">
                <span class="octicon octicon-graph"></span>
                Graphs
            </a>

        </nav>

    </div>
</div>


<div class="container page-content">

    <div class="columns">

        <div class="column one-fourth" role="navigation" ng-include="'views/sites/sidebar-main.html'"></div>

        <div class="column three-fourths" ui-view="main-content"></div>

    </div>

</div>