<bz-form model="item" model-state="error" submit="saveItem(item)">
<div class="modal-header">
  <h3 class="modal-title">{{'New dashboard'|translate}}</h3>
</div>
<div class="modal-body">

  <bz-form-control label="{{'Dashboard url'|translate}}" field="title" help="{{'Discover url for dashboard'|translate}}">

    <input type="url" class="form-control" ng-model="item.url" ng-change="discoverUrl(item.url)" ng-model-options="{debounce: 750}" />

  </bz-form-control>

  <div ng-if="loadingDiscover">
    Discovering...
  </div>
  <div class="alert alert-danger" ng-if="failderDiscover">
    Invalid service url
  </div>


  <div class="alert alert-success" ng-if="successDiscover">
    <p>Service successfuly discovered!
    <p><strong>Title:</strong> {{item.title}}
  </div>

</div>
<div class="modal-footer">
  <button class="btn" ng-class="{'btn-success': successDiscover, 'btn-primary': !successDiscover}" type="submit" ng-disabled="!successDiscover">{{'Add'|translate}}</button>
  <button class="btn btn-secondary" type="button" ng-click="$close()">{{'Cancel'|translate}}</button>
</div>
</bz-form>